{% extends 'base.html' %}

{% block title %}Editar Usuário{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Editar Usuário</h1>

        <form method="POST" action="{{ url_for('atualizar_usuario', id=usuario.id) }}" class="border p-4 rounded">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{ usuario.nome }}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ usuario.email }}">
            </div>
            <div class="mb-3">
                <label for="papel" class="form-label">Papel</label>
                <select class="form-control" id="papel" name="papel">
                    <option value="cliente" {% if usuario.papel == 'cliente' %}selected{% endif %}>Cliente</option>
                    <option value="admin" {% if usuario.papel == 'admin' %}selected{% endif %}>Admin</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary w-100">Salvar Alterações</button>
        </form>
    </div>
{% endblock %}