<!-- Modal Vendas -->
<div class="modal fade" id="vendas" tabindex="-1" aria-labelledby="vendasLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vendasLabel">Vendas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Conteúdo do modal -->
                <p>Lista de vendas realizadas.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- a ideia do modal de vendas será só adicionar produtos. A pessoas criará uma venda(pedido) e adiconará os produtos a ela. -->