<!-- Modal Novo Pedido -->
<div class="modal fade" id="novoPedido" tabindex="-1" aria-labelledby="novoPedidoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="novoPedidoLabel">Novo Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- buscar cliente e associa-lo a um novo pedido -->
                <form id="buscarClienteForm" method="POST" action="{{ url_for('buscar_cliente') }}" class="mb-4">
                    <div class="mb-3">
                        <label for="inputNomeCliente" class="form-label">🔍 Buscar Cliente Por Nome:</label>
                        <input type="text" class="form-control" id="inputNomeCliente" name="nome" placeholder="Ex: João Silva" aria-describedby="nomeHelp" required>
                    </div>
                    <button type="submit" class="btn btn-info w-100 btn-lg">🔍 Buscar Cliente</button>
                </form>
                <div id="clienteInfo" class="mt-4" style="display: none;">
                    <h5>Cliente Encontrado:</h5>
                    <p id="clienteNome"></p>
                </div>
                <div id="itensPedido" class="mt-4" style="display: none;">
                    <h5>Itens do Pedido:</h5>
                    <form id="buscarProdutoForm" method="POST" action="{{ url_for('buscar_produto') }}" class="mb-4">
                        <div class="mb-3">
                            <label for="inputNomeProduto" class="form-label">🔍 Buscar Produto Por Nome:</label>
                            <input type="text" class="form-control" id="inputNomeProduto" name="nome" placeholder="Ex: Camiseta" aria-describedby="produtoHelp" required>
                        </div>
                        <button type="submit" class="btn btn-info w-100 btn-lg">🔍 Buscar Produto</button>
                    </form>
                    <div id="listaItens">
                        <!-- Lista de itens adicionados -->
                    </div>
                    <div class="mt-4">
                        <h5>Total do Pedido: R$<span id="totalPedido">0.00</span></h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="salvarPedido">Salvar Pedido</button>
            </div>
        </div>
    </div>
</div>